<div class="login-page" [@routerTransition]>
    <ngx-alerts></ngx-alerts>
  <div class="row justify-content-md-center">
      <div class="col-md-4">
          <img class="user-avatar" src="assets/images/avatar.jpg" width="150px" />
           <h1>Cakes By Tshego</h1>
           <h1>Financial Management System</h1>
          <form role="form" [formGroup]="resetForm" (ngSubmit)="onReset()">
              <div class="form-content">
                  <div class="form-group">
                      <input type="email" 
                      class="form-control input-underline input-lg" 
                      formControlName="email" 
                      id="email" 
                      placeholder="Email"  
                      name="email">
                  </div>
              </div>
              <button class="btn rounded-btn" type="submit"> Reset Password </button> <br/>
              <button class="btn rounded-btn" type="button" routerLink="/login"> Login </button>
          </form>
      </div>
  </div>
</div>
