<div [@routerTransition]>
    <div class="card mb-3">
        <div class="card-header">
            <h3>Customer List</h3>
        <div class="card-body table-responsive">
            <div class="btn-toolbar">
                <!-- <input type="button" value="Click Me" style="float: left;"> -->
                <button 
                class="btn-success" 
                style="float: right;" 
                (click)="open(content)">
                Add Customer
            </button>
            </div>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>DOB</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Links</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customers">
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.lastname }}</td>
                        <td>{{ customer.DOB }}</td>
                        <td>{{ customer.address }}</td>
                        <td>{{ customer.phoneNumber }}</td>
                        <td>{{ customer.email}}</td>
                        <td>{{ customer.links }}</td>
                        <td class="btn-toolbar">
                            <button class="btn btn-primary" (click)="openNewDialog(content, customer)">Edit</button>
                            <button class="btn btn-success" (click)="openNewDialog(link, customer.id)">View Links</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Edit Modal-->
<div class="card-body">
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">{{editMode ? "Edit Customer": "New Customer"}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form role="form" (ngSubmit)="onUpdate(frm)" #frm="ngForm">
                <div class="form-group">
                    <label for="name">Name<span style="color: #FF0000;">*</span></label>
                    <input 
                    class="form-control" 
                    id="name" 
                    name="name" 
                    type="text" 
                    [(ngModel)]="customer.name"
                    #name="ngModel" 
                    required 
                    maxlength="25" 
                    placeholder="eg 'Donald'">
                </div>
                <div class="form-group">
                    <label for="lastname">Surname<span style="color: #FF0000;">*</span></label>
                    <input 
                    class="form-control" 
                    id="lastname" 
                    name="lastname" 
                    type="text" 
                    [(ngModel)]="customer.lastname"
                    #lastName="ngModel" 
                    required 
                    maxlength="25" 
                    placeholder="eg 'Duck'">
                </div>
                <div class="form-group">
                    <label for="dob">DOB<span style="color: #FF0000;">*</span></label>
                    <input 
                    class="form-control" 
                    id="dob" 
                    name="dob" 
                    type="text" 
                    [(ngModel)]="customer.DOB"
                    #dob="ngModel" 
                    required 
                    maxlength="25" 
                    placeholder="eg '01/07/1993'">
                </div>
                <div class="form-group">
                    <label for="address">Address<span style="color: #FF0000;">*</span></label>
                    <input 
                    class="form-control" 
                    id="address" 
                    name="address" 
                    type="text" 
                    [(ngModel)]="customer.address"
                    #address="ngModel" 
                    required 
                    maxlength="25" 
                    placeholder="eg '26300 Block 9, Gaborone'">
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number<span style="color: #FF0000;">*</span></label>
                    <input 
                    class="form-control" 
                    id="phoneNumber" 
                    name="phoneNumber" 
                    type="number" 
                    [(ngModel)]="customer.phoneNumber"
                    #phoneNumber="ngModel" 
                    required 
                    maxlength="25" 
                    placeholder="eg '77 123 456'">
                </div>
                <div class="form-group">
                    <label for="email">Email<span style="color: #FF0000;">*</span></label>
                    <input 
                    class="form-control" 
                    id="email" 
                    name="email" 
                    type="email" 
                    [(ngModel)]="customer.email"
                    #email="ngModel" 
                    required 
                    maxlength="25" 
                    placeholder="eg 'test@gmail.com'">
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="frm.invalid"
                            >{{editMode ? "Update": "Add Customer"}}
                    </button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
            </form>
        </div>
    </ng-template>
</div>

<!--Link Modal-->
<div class="card-body">
    <ng-template #link let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Customer Links</h4>
            <button type="button" class="close" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
            <br>
            <div class="btn-toolbar">
                <!-- <input type="button" value="Click Me" style="float: left;"> -->
                <button 
                class="btn-success" 
                style="float: right;" 
                (click)="open(linkEdit)">
                Add Customer Link
            </button>
            </div>
            
        </div>
        <div class="modal-body">
            <div class="card-body table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>DOB</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>Relationship</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of customerLink">
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.lastname }}</td>
                            <td>{{ customer.DOB }}</td>
                            <td>{{ customer.phoneNumber }}</td>
                            <td>{{ customer.email}}</td>
                            <td>{{ customer.relationship }}</td>
                            <td class="btn-toolbar">
                                <button class="btn btn-primary" (click)="openNewDialog(linkEdit, customer)">Edit</button>
                                <button class="btn btn-danger" (click)="onDeleteLink(customer)">X</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-template>
</div>

<!--Link Edit Modal-->
<div class="card-body">
    <ng-template #linkEdit let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">{{editLinkMode ? "Edit Customer Link" : "Add Customer Link" }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form role="form" (ngSubmit)="onUpdateLink(frm)" #frm="ngForm">
                <div class="form-group">
                    <label for="name">Name<span style="color: #FF0000;">*</span></label>
                    <input 
                    class="form-control" 
                    id="name" 
                    name="name" 
                    type="text" 
                    [(ngModel)]="customer.name"
                    #name="ngModel" 
                    required 
                    maxlength="25" 
                    placeholder="eg 'Donald'">
                </div>
                <div class="form-group">
                    <label for="lastname">Surname<span style="color: #FF0000;">*</span></label>
                    <input 
                    class="form-control" 
                    id="lastname" 
                    name="lastname" 
                    type="text" 
                    [(ngModel)]="customer.lastname"
                    #lastName="ngModel" 
                    required 
                    maxlength="25" 
                    placeholder="eg 'Duck'">
                </div>
                <div class="form-group">
                    <label for="dob">DOB<span style="color: #FF0000;">*</span></label>
                    <input 
                    class="form-control" 
                    id="dob" 
                    name="dob" 
                    type="text" 
                    [(ngModel)]="customer.DOB"
                    #dob="ngModel" 
                    required 
                    maxlength="25" 
                    placeholder="eg '01/07/1993'">
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input 
                    class="form-control" 
                    id="phoneNumber" 
                    name="phoneNumber" 
                    type="number" 
                    [(ngModel)]="customer.phoneNumber"
                    #phoneNumber="ngModel"  
                    maxlength="25" 
                    placeholder="eg '77 123 456'">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input 
                    class="form-control" 
                    id="email" 
                    name="email" 
                    type="email" 
                    [(ngModel)]="customer.email"
                    #email="ngModel"  
                    maxlength="25" 
                    placeholder="eg 'test@gmail.com'">
                </div>
                <div class="form-group">
                    <label for="relationship">Relationship<span style="color: #FF0000;">*</span></label>
                    <input 
                    class="form-control" 
                    id="relationship" 
                    name="relationship" 
                    type="text" 
                    [(ngModel)]="customer.relationship"
                    #relationship="ngModel" 
                    required 
                    maxlength="25" 
                    placeholder="eg 'test@gmail.com'">
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="frm.invalid"
                            >{{editLinkMode ? "Update" : "Submit" }}
                    </button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
            </form>
        </div>
    </ng-template>
</div>